<div class="container-xxl position-relative bg-white d-flex p-0">
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-black" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->
  {{> admin_header}}

  <!-- Sale & Revenue Start -->
  <div class="container-fluid pt-4 px-4">
    <form class="row g-4">
      <div class="container d-flex mb-5">
        <div>
          <h5><strong> Products</strong> </h5>
          <span class="opacity-50"> Dashboard > Product > Add Product</span>
        </div>
      </div>


      <div>
        <div class="container d-flex">
          <div class="col-7">
            <h6> <strong> General Information</strong></h6>


            <div class="mb-3">
              <label for="product-name" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="productName" name="name" placeholder="Type Product name here"
                required>

            </div>
            <div class="mb-5">
              <label for="discription" class="form-label">Discription</label>
              <textarea class="form-control" rows="5" name="discription" id="comment" required></textarea>
            </div>


            <h6> <strong> Media</strong></h6>


            <div class="mb-3">
              <label for="product-image" class="form-label"> Main Photo</label>
              <!--.............................................................................-->
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="btn-container text-center mt-3">
                    <span>
                      <i class="fa-solid fa-image fa-4x" style="color: #000000; "></i>
                    </span>

                    <p> click to add an image</p>
                    <span class="upload-btn-wrapper">
                      <label class="btn" for="fileup" style="background: #000000; color: #ffffff; ">Add Image</label>
                      <!-- <input type="file" name= "IMG"  id="fileup"  accept=".jpg, .jpeg, .png, .gif"> -->
                      <input type="file" name="image" id="fileup" accept="image/*" required>
                    </span>

                  </div>
                  <!--<button type="submit">Add Product</button> -->
                </div>

              </div>



              <div class="mt-5">
                <h6> <strong> Pricing</strong></h6>
                <div class="container d-flex">
                  <div class="col-6 me-2">
                    <label for="product-rice" class="form-label">Base Price</label>
                    <input type="text" class="form-control" id="productPrice" name="price"
                      placeholder="$ Type Base price name here" required>

                  </div>
                  <div class="col-6 me-2">
                    <label for="product-rice" class="form-label">Sale Price</label>
                    <input type="text" class="form-control" id="productPrice" name="sale_price"
                      placeholder="$ Type Sale price name here" required>

                  </div>
                </div>
                <div class="container d-flex">
                  <div class="col-6 ms-2">
                    <label for="product-diacountPercentage" class="form-label mt-3">Discount Percentage</label>
                    <input type="text" name="discount_percentage" class="form-control" id="discount"
                      placeholder="Discount Percentage" required>

                  </div>

                </div>
              </div>
              <div class="mt-5 mb-5 pb-5">
                <h6> <strong> Inventory</strong></h6>
                <div class="container d-flex">
                  <div class="col-6 me-2">
                    <label for="product-sku" class="form-label mt-3">SKU</label>
                    <input type="text" class="form-control" id="product-SKU" name="SKU"
                      placeholder="Type product SKU here" required>
                  </div>
                  <div class="col-6 ms-2">
                    <label for="product-Quantity" class="form-label mt-3">Quantity</label>
                    <input type="text" class="form-control" id="productQty" name="quantity"
                      placeholder="Type product Quantity here" required>
                  </div>
                </div>
              </div>

            </div>

          </div>


          <div>

            <div class="ms-5">
              <h6> <strong> Category</strong></h6>


              <div class="mb-3">
                <label for="product-category" class="form-label">Product Category</label>
                <select class="form-select" name="category" aria-label="Default select example" required>
                  <option selected>Select the Category</option>

                  {{#each categories}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}


                </select>
              </div>

              <label for="product-status" class="form-label mt-3">Status</label>
              <select class="form-select" name="status" aria-label="Default select example" required>
                <option selected>Select</option>

                <option value="out">Out of stock</option>
                <option value="ava">Available</option>

              </select>

            </div>




    </form>




  </div>




  <!-- Footer Start -->
  <div class="container-fluid  pt-4 px-4 fixed-bottom ">
    <div class="bg-light rounded-top p-4">
      <div class="row">
        <div class="col-12 col-sm-6 text-center text-sm-start">
          &copy; <a href="#">Elegantpurse</a>, All Right Reserved.
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-end">
          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a href="https://htmlcodex.com">Thintry</a>
          </br>

        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jQuery first -->
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script> <!-- Then DataTables -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Javascript -->
<script src="/javascripts/main.js"></script>

<!-- <script>
        $(document).ready( function () {
          $('#myTable').DataTable();
      } );
      </script>

    -->