<section class="mb-5">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/banner.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/banner3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Category Buttons -->
<section>
  <div class="container-fluid align-items-center mt-4">
    <div class="row">
      <div class="col-12 poppins-medium">
        <div class="btn boxBg">All</div>
        <div class="btn boxBg">Item 1</div>
        <div class="btn boxBg">Item 2</div>
        <div class="btn boxBg">Item 3</div>
        <div class="btn boxBg">Item4</div>
        <div class="btn boxBg">Item 5</div>
      </div>
    </div>
  </div>
</section>

<!-- Product Card 1 -->
<section class="mt-1 ms-5 me-3 d-flex gap-4 ">
  <div class="container-fluid ">
    <div class="row">
      <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
        <a href="/product/gesrtgertgert">
          <img src="/images/card_img.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <div class="wishlist-container ">
            <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                class="material-symbols-outlined">
                favorite
              </span>Whishlist</a>
          </div>
          <h6 class="card-title poppins-semibold">Product 1</h6>
          <p class="card-text poppins-light cardText">Some quick example content.</p>
          <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
              style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
              style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
        </div>
      </div>
      <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
        <a href="/product/gesrtgertgert">
          <img src="/images/card_img.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <div class="wishlist-container ">
            <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                class="material-symbols-outlined">
                favorite
              </span>Whishlist</a>
          </div>
          <h6 class="card-title poppins-semibold">Product 2</h6>
          <p class="card-text poppins-light cardText">Some quick example content.</p>
          <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
              style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
              style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
        </div>
      </div>
      <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
        <a href="/product/gesrtgertgert"><img src="/images/card_img.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <div class="wishlist-container ">
            <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                class="material-symbols-outlined">
                favorite
              </span>Whishlist</a>
          </div>
          <h6 class="card-title poppins-semibold">Product 3</h6>
          <p class="card-text poppins-light cardText">Some quick example content.</p>
          <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
              style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
              style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
        </div>
      </div>
      <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
        <a href="/product/gesrtgertgert">
          <img src="/images/card_img.png" class="card-img-top" alt="...">

        </a>
        <div class="card-body">
          <div class="wishlist-container ">
            <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                class="material-symbols-outlined">
                favorite
              </span>Whishlist</a>
          </div>
          <h6 class="card-title poppins-semibold">Product 4</h6>
          <p class="card-text poppins-light cardText">Some quick example content.</p>
          <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
              style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
              style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
        </div>
      </div>
      <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
        <a href="/product/gesrtgertgert">
          <img src="/images/card_img.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <div class="wishlist-container ">
            <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                class="material-symbols-outlined">
                favorite
              </span>Whishlist</a>
          </div>
          <h6 class="card-title poppins-semibold">Product 5</h6>
          <p class="card-text poppins-light cardText">Some quick example content.</p>
          <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
              style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
              style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
        </div>
      </div>
      <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
        <a href="/product/gesrtgertgert">
          <img src="/images/card_img.png" class="card-img-top" alt="...">

        </a>
        <div class="card-body">
          <div class="wishlist-container ">
            <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                class="material-symbols-outlined">
                favorite
              </span>Whishlist</a>
          </div>
          <h6 class="card-title poppins-semibold">Product 6</h6>
          <p class="card-text poppins-light cardText">Some quick example content.</p>
          <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
              style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
              style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
        </div>
      </div>
    </div>
  </div>



</section>