<div class="container">
  <div class="row">
    <!-- cart items list  -->
    <div class="col-sm-10 col-md-8 col-lg-7  ">
      <div class="d-flex p-3 ms-auto " style="border: 1px solid rgba(0, 0, 0, 0.185);">

        <div>
          <img src="/images/ed031-yellow-1_1684916982-888800511753.jpg" width="100px" />
        </div>
        <div class="px-3">
          <h5 class="poppins-bold me-5 product-info">Product Name 2</h5>

          <div class="mt-2 d-flex   ">
            <h5 class="fw-bold product-info">₹626</h5>
            <h5 class="ms-2  product-info d-flex opacity-50 ">MRP <span class=""><s>₹1899</s></span> <span
                class="fw-semibold " style="color: #6f4e37;">(67% OFF)</span></h5>
          </div>

          <span class="mt-1 d-flex">Qty:
            <div class="qty-input mx-3">
              <div>
                <a onclick="decreaseQuantity()" class="quantity-button" id="minusButton"
                  data-productID="<%= product.product_id %>">
                  <i class="fa-solid fa-minus p-1" style="color: #ffffff; background: #000000;"></i>
                </a>
                <input type="number" style="border: 1px solid #0000007d; padding: 2px; width: 50px;" name="quantity"
                  value="1" min="1" max="10" id="currentQty"> <!-- Set initial value to 1 -->
                <a onclick="increaseQuantity()" class="quantity-button" id="plusButton">
                  <i class="fa-solid fa-plus p-1" style="color: #ffffff; background: #000000;"></i>
                </a>
              </div>
            </div>
          </span>

          <h6 class="mt-3 poppins-light" style="font-size: 13px;"><i class="fa-solid fa-check me-1"
              style="color: #4aa12f;"></i> Delivery by <span class="fw-semibold">28 March 2024</span></h6>
        </div>
        <div class="ms-auto">
          <button class="btn btn-light "> <box-icon name='x'></box-icon></button>
        </div>
      </div>
      <div class="d-flex p-3 ms-auto mt-3" style="border: 1px solid rgba(0, 0, 0, 0.185);">
        <div>
          <h5 class="poppins-semibold me-5 product-info">Delivery Address</h5>
          <span class="d-flex ">
            <input type="checkbox" class="form-check-input">
            <h6 class="poppins-semibold mt-1 ms-2">Ann John</h6>
          </span>

          <h6 class="ms-4 poppins-regular">Ann House, MG Road, Kozhikode, 673003</h6>
          <h6 class="ms-4 poppins-regular">08235659974</h6>




        </div>
        <div class="ms-auto">
          <a href="./editProfile.html" class="btn btn-dark text-uppercase poppins-medium">Edit</a>
        </div>

      </div>
    </div>


    <!-- price details  -->
    <div class="col-lg-4  col-md  ">
      <div class="p-3   " style="border: 1px solid rgba(0, 0, 0, 0.185);">
        <h6 class="poppins-semibold mt-5">PRICE DETAILS (1 Items)</h6>
        <hr>
        <div class="d-flex  gap-5 mt-4">
          <div class="poppins-medium">
            <h6> Total MRP</h6>
            <h6> Discount on MRP</h6>
            <h6>Shipping Fee</h6>

          </div>

          <div class="fw-bold ms-auto">
            <h6 class="fw-semibold"> ₹626</h6>
            <h6 class="text-success fw-semibold"> ₹1899</h6>
            <h6 class="fw-semibold"> ₹60</h6>
          </div>

        </div>
        <hr>
        <div class="d-flex  gap-5 mt-3">
          <div class="poppins-medium">

            <h5 class="fw-semibold ">Total Amount</h5>
          </div>

          <div class="fw-bold ms-auto">
            <h5 class="fw-bold "> ₹686</h5>
          </div>

        </div>
        <div class="text-center mt-4">
          <a href="./checkoutPage.html" class="btn btn-dark text-uppercase  ">Place Order</a>
        </div>



      </div>

    </div>
  </div>
</div>