<div class="container">
  <div class="row">
    <!-- Check out  -->
    <div class="col-sm-10 col-md-8 col-lg-5 my-5 mx-auto ">
      <div class="   " style="border: 1px solid rgba(0, 0, 0, 0.208); box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.381);">
        <div class="p-4">
          <h5 class="poppins-bold text-uppercase text-center mt-4">checkout</h5>
          <h6 class="poppins-semibold me-5 mt-3 product-info">Delivery Address</h6>

          <div class="p-2 text-" style=" border: 1px solid rgba(0, 0, 0, 0.139);">

            <h6 class="poppins-semibold mt-1 ms-3">Ann John</h6>
            <h6 class="ms-3 poppins-regular">Ann House, MG Road, Kozhikode, 673003</h6>
            <h6 class="ms-3 poppins-regular">08235659974</h6>
          </div>
          <h6 class="poppins-semibold me-5 mt-5 product-info">Payment Method</h6>

          <div class="p-2 text-">
            <div class="form-check  ">
              <input class="form-check-input" type="radio" name="Radios" value="Paypal">
              <label class="form-check-label poppins-semibold" for="exampleRadios1">
                <img src="/images/pngwing.com(30).png" width="20px" class="mx-3" alt=""> Paypal
              </label>
            </div>
            <div class="form-check  ">
              <input class="form-check-input" type="radio" name="Radios" value="Gpay">
              <label class="form-check-label  poppins-semibold" for="exampleRadios1">
                <img src="/images/pngwing.com(31).png" width="30px" class="ms-3 me-1" alt=""> GPay
              </label>
            </div>


          </div>

          <h6 class="poppins-semibold me-5 mt-5 product-info">Price Details </h6>

          <div class="p-2 text-">
            <div class="d-flex  gap-5 mt-1">
              <div class="poppins-medium">
                <h6> Total MRP</h6>
                <h6> Discount on MRP</h6>
                <h6>Shipping Fee</h6>

              </div>

              <div class="fw-bold ms-auto">
                <h6 class="fw-semibold"> ₹626</h6>
                <h6 class="text-success fw-semibold"> ₹1899</h6>
                <h6 class="fw-semibold"> ₹60</h6>
              </div>

            </div>
            <hr>
            <div class="d-flex  gap-5 mt-3">
              <div class="poppins-medium">

                <h5 class="fw-semibold ">Total Amount</h5>
              </div>

              <div class="fw-bold ms-auto">
                <h5 class="fw-bold "> ₹686</h5>
              </div>

            </div>
            <div class="d-grid gap-2 col-8 mx-auto mt-5">

              <a href="./checkoutPage.html" class="btn btn-dark text-uppercase poppins-semibold  mt-3 ">Pay Now</a>
            </div>


          </div>

        </div>

      </div>

    </div>
  </div>