<link rel="stylesheet" href="/stylesheets/login.css">

<div class="container">
  <img src="/images/logowrk.png" alt="">
  <div class="inputContainer">
    <form action="/api/user/auth/login" method="post">
      <div class="input">
        <input type="text" id="username" name="email" placeholder="Email" required>
      </div>
      <div class="input">
        <input type="password" name="password" id="password" placeholder="Password" required>
      </div>
      <div class="forgot">
        <a href="/auth/recover">Forgot password?</a>
      </div>
      <div class="input loginInp">
        <button type="submit" title="Click to login with your existing account.">LOGIN</button>
      </div>
      <div class="info">
        <span>Dont have an account? <a href="/auth/signup">SignUp.</a></span>
      </div>
    </form>
  </div>
</div>