<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container">
  <img src="/images/logowrk.png" alt="">
  <div class="inputContainer">
    <form action="/api/user/auth/signup" method="post">
      <div class="input">
        <input type="number" id="otp" name="otp" placeholder="Otp" required>
      </div>
      <div class="input loginInp">
        <button type="submit" id="verify" title="Click to login with your existing account.">VERIFY</button>
      </div>
      <div class="info">
        <span>Check your email or email spam section.</span>
      </div>
    </form>
  </div>
</div>