<div class="main " style="margin-bottom: 100px; ">
  <header class="sticky-bar stick   ">
    <!-- Desktop View -->
    <div class="container pt-3 pb-2 ">
      <div class="row align-items-center " style="margin-left: -70px;">
        <!-- Logo -->
        <div class="col-2 d-lg-block d-none">
          <a href="/">
            <img src="/images/logowrk.png" class="img-fluid" style="width:150px " alt="" />
          </a>
        </div>
        <!-- Search Form -->
        <div class="me-0 col-3 col-lg-4 d-lg-block d-none ">
          <form class="search-form" action="#">
            <div class="d-flex align-items-center" style="border: 1px solid rgba(0, 0, 0, 0.119);">
              <span class="material-symbols-outlined me-2">
                search
              </span>
              <input type="text" class="form-control" style="border-radius: 0;" placeholder="Search entire store..." />

            </div>

          </form>
        </div>
        <!-- Navigation Menu -->
        <div class="me-0 col-lg-6 col-6 d-lg-block d-none  mt-2">
          <nav class="menu-style">
            <ul class="menu-style poppins-medium text-uppercase">
              <a href="">
                <li class="d-flex gap-1"><span class="material-symbols-outlined ">
                    shopping_cart
                  </span>Cart</li>
              </a>
              <a href="">
                <li class="d-flex"><span class="material-symbols-outlined">
                    favorite
                  </span>Whishlist</li>
              </a>
              <a href="">
                <li class="d-flex"><span class="material-symbols-outlined">
                    package_2
                  </span>Orders</li>
              </a>
              <a href="/user/profile">
                <li class="d-flex"><span class="material-symbols-outlined">
                    person
                  </span>Profile</li>
              </a>
              <a href="">
                <li class="d-flex"><span class="material-symbols-outlined">
                    settings
                  </span>Settings</li>
              </a>
              <!-- <a href="">
                <button class="btn">Login</button>
              </a> -->

              <a href="/auth/login">
                <li class="btn btn-dark fw-semibold px-4" style="margin-top: -7px; border-radius: 0;">Login
                </li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- End Desktop View -->

    <!-- Mobile View -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="">
        <li class="d-flex mt-2 mb-2 ms-3"><span class="material-symbols-outlined me-1">
            shopping_cart
          </span>Cart</li>
      </a>
      <a href="">
        <li class="d-flex mb-2 ms-3"><span class="material-symbols-outlined me-1">
            favorite
          </span>Whishlist</li>
      </a>
      <a href="">
        <li class="d-flex mb-2 ms-3"><span class="material-symbols-outlined me-1">
            package_2
          </span>Orders</li>
      </a>
      <a href="/user/profile">
        <li class="d-flex mb-2 ms-3"><span class="material-symbols-outlined me-1">
            person
          </span>Profile</li>
      </a>
      <a href="">
        <li class="d-flex mb-2 ms-3"><span class="material-symbols-outlined me-1">
            settings
          </span>Settings</li>
      </a>
      <a href="/auth/login">
        <li class="btn btn-dark fw-semibold px-4 ms-3 mt-3 mb-2" style="margin-top: -7px; border-radius: 0;">Login
        </li>
      </a>

    </div>


    <div class="container-fluid text-center">
      <div class="row align-items-center justify-content-evenly">
        <!-- Dropdown Button for Mobile -->
        <div class="col-3 d-md-block d-lg-none ms-3 me-0">
          <div class="dropdown ">
            <button class="openbtn" onclick="openNav()"><span class="material-symbols-outlined">
                menu
              </span></button>

            <!-- Dropdown Menu -->

          </div>

        </div>
        <div class="col-4 d-md-block d-lg-none ms-auto col-md-4">
          <a href="/">
            <img src="/images/logowrk.png" class="img-fluid" style="width:150px " alt="" />
          </a>
        </div>
        <div class="col-4 d-md-block d-lg-none pe-3 ms-auto me-0 col-md-4">
          <box-icon name='cart'></box-icon>
          <!-- <a href="/auth/login" class="btn btn-dark fw-semibold ms-1" style="margin-top: -7px; border-radius: 0;">
              Login
            </a> -->

        </div>
        <div class=" col-4 d-md-block d-lg-none col-md-4">

        </div>

      </div>
    </div>
    <!-- End Mobile View -->
  </header>



</div>


<div class="container ">
  <div class="row ">

    <div class="col-5 col-sm-12 col-md-4 col-lg-4  me-5 pe-5 ms-3">
      <img src="/images/ed031-yellow-1_1684916982-888800511753.jpg" class="img-fluid" height="" alt="">
    </div>
    <div class=" me-3 col-sm-12 col-md-6 col-lg-6 ms-3 mt-5  mt-md-0">
      <h4 class=" poppins-semibold">ANNE KLEIN</h4>
      <h6>Women Brand Logo Printed Zip Around Wallet</h6>

      <div class="mt-3 d-flex">
        <h4 class="poppins-bold">₹626</h4>
        <h5 class="ms-3">MRP <span class=""><s>₹1899</s></span> <span class="fw-semibold" style="color: #6f4e37;">(67%
            OFF)</span></h5>
      </div>
      <h6 class="fw-bold mb-3" style="color: #6f4e37;">inclusive of all taxes</h6>
      <span class="mb-5 d-flex">Qty:
        <div class="qty-input mx-3">
          <div>
            <a onclick="decreaseQuantity()" class="quantity-button" id="minusButton"
              data-productID="<%= product.product_id %>">
              <i class="fa-solid fa-minus p-1" style="color: #ffffff; background: #000000;"></i>
            </a>
            <input type="number" style="border: 1px solid #0000007d; padding: 2px; width: 50px;" name="quantity"
              value="1" min="1" max="10" id="currentQty"> <!-- Set initial value to 1 -->
            <a onclick="increaseQuantity()" class="quantity-button" id="plusButton">
              <i class="fa-solid fa-plus p-1" style="color: #ffffff; background: #000000;"></i>
            </a>
          </div>
        </div>
      </span>
      <hr>
      <h6 class="poppins-bold mt-5">Product Details</h6>
      <p class="poppins-regular me-4 " style="text-align: justify;">Beige solid sling bag, with embellished detail1 main
        compartment, has a
        twist closure, 1 external pocket, 1 inner pocketsWith a non-detachable sling strap
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nobis sunt ipsa
        provident minus assumenda maiores libero ea ad molestias quisquam quaerat ab,
        architecto eum obcaecati? Optio numquam ex facilis? Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Illum optio repellendus culpa rerum minus dolorum, consequatur aliquid quo,

      <div class="d-flex gap-4 mt-5">
        <a href="/user/cart" class="btn btn-dark text-uppercase poppins-medium" style="border-radius: 0;">add to
          cart</a>
        <a href="/user/wishlist" class="btn btn-dark text-uppercase poppins-medium px-4"
          style="border-radius: 0;">wishlist</a>

      </div>
    </div>

  </div>


  <!-- similar product section  -->
  <section class="mt-1 ms-5 me-3 mt-5 d-flex gap-3 ">
    <div class="container-fluid ">
      <div class="row">
        <h4 class="poppins-bold mt-4">Similar Products</h4>
        <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
          <a href="/product/gesrtgertgert">
            <img src="/images/card_img.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <div class="wishlist-container ">
              <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                  class="material-symbols-outlined">
                  favorite
                </span>Whishlist</a>
            </div>
            <h6 class="card-title poppins-semibold">Product 1</h6>
            <p class="card-text poppins-light cardText">Some quick example content.</p>
            <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
                style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
                style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
          </div>
        </div>
        <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
          <a href="/product/gesrtgertgert">
            <img src="/images/card_img.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <div class="wishlist-container ">
              <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                  class="material-symbols-outlined">
                  favorite
                </span>Whishlist</a>
            </div>
            <h6 class="card-title poppins-semibold">Product 2</h6>
            <p class="card-text poppins-light cardText">Some quick example content.</p>
            <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
                style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
                style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
          </div>
        </div>
        <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
          <a href="/product/gesrtgertgert">
            <img src="/images/card_img.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">

            <div class="wishlist-container ">
              <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                  class="material-symbols-outlined">
                  favorite
                </span>Whishlist</a>
            </div>
            <h6 class="card-title poppins-semibold">Product 3</h6>
            <p class="card-text poppins-light cardText">Some quick example content.</p>
            <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
                style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
                style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
          </div>
        </div>
        <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
          <a href="/product/gesrtgertgert">
            <img src="/images/card_img.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <div class="wishlist-container ">
              <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                  class="material-symbols-outlined">
                  favorite
                </span>Whishlist</a>
            </div>
            <h6 class="card-title poppins-semibold">Product 4</h6>
            <p class="card-text poppins-light cardText">Some quick example content.</p>
            <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
                style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
                style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
          </div>
        </div>
        <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
          <a href="/product/gesrtgertgert">
            <img src="/images/card_img.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <div class="wishlist-container ">
              <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                  class="material-symbols-outlined">
                  favorite
                </span>Whishlist</a>
            </div>
            <h6 class="card-title poppins-semibold">Product 5</h6>
            <p class="card-text poppins-light cardText">Some quick example content.</p>
            <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
                style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
                style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
          </div>
        </div>
        <div class="card mt-4 cardItem container-fluid " style="width: 15rem;">
          <a href="/product/gesrtgertgert">
            <img src="/images/card_img.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <div class="wishlist-container ">
              <a href="" class="btn wishlist-btn text-center  " style="margin-top: -62px;"><span
                  class="material-symbols-outlined">
                  favorite
                </span>Whishlist</a>
            </div>
            <h6 class="card-title poppins-semibold">Product 6</h6>
            <p class="card-text poppins-light cardText">Some quick example content.</p>
            <p class="cardText" style=" margin-top: -13px;"><span class="fw-bold">Rs.1999</span> <span
                style="text-decoration: line-through; color: rgba(0, 0, 0, 0.537);"> Rs.3999</span> <span
                style="color: #6f4e37ae;">(Rs.2000 OFF)</span></p>
          </div>
        </div>
      </div>
    </div>



  </section>

  <!-- footer  -->
  <div class="container-fluid my-5 ">
    <hr>

    <footer class=" text-center text-lg-start poppins-medium ">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

            <div class=" bg-white shadow-1-strong d-flex  justify-content-center mx-auto mx-sm-auto mx-lg-0 "
              style="width: 150px; height: 150px;">
              <img src="/images/logowrk.png" height="70" alt="" />
            </div>

            <p class="" style="margin-top: -70px; margin-left: -8px;">Lorem Ipsum is simply dummy text of the printing
              and typesetting industry.</p>

            <div class="mx-auto d-flex justify-content-center">
              <ul class="list-unstyled d-flex flex-row  " style="margin-left: -14px;">
                <li>
                  <a class=" px-2" href="#!">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a class=" px-2" href="#!">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a class=" ps-2" href="#!">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
            <h5 class="text-uppercase mb-4 ms-4">Links</h5>

            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="ms-4">Terms of Services</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="ms-4">Privacy Policy</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="ms-4">Contact Us</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="ms-4">About Us</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Community</h5>

            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="">Discord</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="">Telegram</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="">Whatsapp</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="">Reddit</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Contact</h5>

            <ul class="list-unstyled">
              <li>
                <p><i class="fas fa-map-marker-alt pe-2"></i>Warsaw, 57 Street, Poland</p>
              </li>
              <li>
                <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
              </li>
              <li>
                <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@example.com</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 text-white" style="background-color: rgb(0, 0, 0)">
        © 2024 Copyright:
        <a class="" style="color: #ffffff;" href="https://mdbootstrap.com/">Elegantpurse.com</a>
      </div>
      <!-- Copyright -->
    </footer>


  </div>




  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>








  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bootstrap Bundle JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>