
<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container">
  <img src="/images/logowrk.png" alt="">
  <div class="inputContainer">
    <form action="/api/user/auth/signup" method="post">
      <div class="input">
        <input type="text" id="firstname" name="first_name" placeholder="First Name" required>
      </div>
      <div class="input">
        <input type="text" id="firstname" name="last_name" placeholder="Last Name" required>
      </div>
      <div class="input">
        <input type="email" id="username" name="email" placeholder="Email"
          required>
      </div>
      <div class="input">
        <input type="tel" id="username" name="phone" placeholder="Phone No"
          required>
      </div>
      <div class="input">
        <input type="password" name="password" id="password" placeholder="Password" required>
      </div>
      <div class="input loginInp">
        <button type="submit" title="Click to login with your existing account.">SIGNUP</button>
      </div>
      <div class="info">
        <span>Do you have a account? <a href="/auth/login">LogIn.</a></span>
      </div>
    </form>
  </div>
</div>