/* Mobile Header */
#header {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: #fff;
}

#header .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

#header .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

#header .left button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

#header .right button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

#header .center img {
    width: 120px;
}

/* Mobile Search */
.search_area {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0px;
    display: none;
    align-items: start;
    justify-content: center;
    background-color: rgba(146, 146, 146, 0.61);
    backdrop-filter: blur(5px);
    padding-top: 30px;
    z-index: 998;
}

.search_area .input_box {
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow: hidden;
    border-radius: 0px;
}

.search_area .input_box form {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search_area .input_box form input {
    width: calc(100% - 60px);
    height: 100%;
    border: none;
    padding-left: 15px;
}

.search_area .input_box form button {
    width: 60px;
    border: none;
    height: 100%;
    background-color: #000;
}

.display {
    display: flex !important;
}